<!DOCTYPE html>
<html>
    <head>
        <title>Django Boys blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Boys Blog</a></h1>
        </header>

        <article>
            <time>published: 19.07.2021, 12:00</time>
            <h2><a href="">My first post</a></h2>
            <p>HTML is a code that is interpreted by your web browser – such as Chrome, Firefox or Safari – to display a web page for the user.</p>
        </article>

        <article>
            <time>published: 19.07.2021, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Creating a template means creating a template file. Everything is a file, right? You have probably noticed this already.</p>
        </article>
    </body>
</html>